.card{
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-radius: 15px;
  margin: 10px 15px 10px; 
  padding: 10px;
  box-shadow: 2px 3px #888888;
  &__profile{
    width: 40%;
    position: relative;
    img{
      width: 100%;
      border-radius: 50%;
    }
    span{
      position: absolute;
      width: 60px;
      height: 60px;
      background: rgba(255, 0, 0, 0.5);
      border-radius: 50%;
      right: -10%;
      top: 0%;
      text-align: center;
      line-height: 60px;
      color: #fff;
    }
  }
  &__name{
    width: 55%; 
  }
  .detail{
    padding: 50px 10px 10px 40px; 
    &__nickname{
      color: crimson;
      font-size: 25px;
      font-weight: bold;
    }
    &__name{
      color: gray;
      font-size: 20px;
    }
    &__size{
      color: gray;
      font-size: 20px;
    }

  }
}