	@import "./assets/styles/fonts.scss"; 
	@import "./assets/styles/variables.scss"; 

	.loading{
		background: #fff;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	html {
		background: url("~assets/img/allavengers.jpg") no-repeat center left fixed; 
		background-size: cover;
	}

