


@font-face {
  font-family: "EspressoDolce";
  src: 
  url("~assets/fonts/espressodolce-webfont.woff") format("woff"),
  url("~assets/fonts/espressodolce-webfont.woff2") format("woff2")
}

body{
  font-family: 'EspressoDolce', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}